@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

span {
    font-size: 19px;
    font-weight: 600;
}

.container-forms {
    background: url(../img/acessibilidade-importancia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 88.8vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

#container-avaliacao .thumb {
    position: relative;
    max-width: 100%;
    height: 120px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#container-avaliacao .thumb img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#container-avaliacao .thumb img.portrait {
    width: 100%;
    height: auto;
}

.pagMaisInfo .thumb {
    position: relative;
    max-width: 100%;
    height: 280px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pagMaisInfo img{

}

.card {
    border: none;
    -webkit-box-shadow: 11px 12px 21px -3px rgba(38, 38, 38, 0.103);
    box-shadow: 11px 12px 21px -3px rgba(38, 38, 38, 0.103);
}

.card-link .las {
    color: black !important;
}

.ouvidoria {
    transition: width .7s;
    background: #4ab8c7;
    border-radius: 5px;
    padding: 8px;
    width: 15%;
    cursor: pointer;
    height: 40px;

}

.ouvidoria a {
    text-decoration: none;
}

.ouvidoria p {
    color: transparent;
    transition: color 1s;
    margin-bottom: 0 !important;
}

.card .las {
    transition: padding .5s;
    font-size: 20px;
    color: white;

}

.card-grande {
    width: 400px;
    height: 380px;
}

.card-medio {
    width: 400px;
    height: 330px;
}

.inputs input {
    border: 1px solid #5ca9d9d0 !important;
    border-radius: 8px !important;

}

.inputs {
    width: 100%;
}

th {
    font-weight: 500;
}

.btn {
    border-radius: 5px;
    width: 100%;
}

.btn-azul:hover {
    background-color: #5ca9d9;
    color: white;
}

.btn-vermelho,
.badge-danger {
    background-color: #dd5151;
    color: white;
}

.btn-verde,
.badge-success {
    background-color: #3da177;
    color: white;
}

.btn-azul {
    background-color: #3d96a1;
    color: white;
}

.btn-cinza:hover {
    background-color: #63585E;
    color: white;
}

.btn-cinza {
    color: #63585E;
    background-color: white;
    border: 1px solid #63585E;
 
}

nav {
    background-color: #5ca9d9;
    color: white;
}

input[type="file"i] {
    border-radius: 0 !important;
}

.navbar-brand {
    color: white !important;
}

.navbar-brand img {
    width: 50px;
}
.card-link{
    display: none;
}
.card-header {
    background: transparent!important;
    border-bottom: none!important;
}

@media screen and (max-width: 768px) {
    .ouvidoria p {
        color: white;
        transition: color .1s;
    }

    .ouvidoria {
        width: 120px;
        height: 43px;
        }
    
   .avaliacao .card-body {
        opacity: 0;
        height: 0;
        transition: all 0.5s linear;
    }
    .card-link{
        display: block;
    }
}

@media screen and (max-width: 640px) {
    .card-login {
        width: 100%;
    }

    .container-login {
        background-image: url(../img/fundo-mob.jpg);
    }

}